dotenv ".env"
dotenv ".env.local"

export_function() {
  local name=$1
  local alias_dir=$PWD/.direnv/aliases
  mkdir -p "$alias_dir"
  PATH_add "$alias_dir"
  local target="$alias_dir/$name"
  if declare -f "$name" >/dev/null; then
    echo "#!/usr/bin/env bash" > "$target"
    declare -f "$name" >> "$target" 2>/dev/null
    echo "$name" >> "$target"
    chmod +x "$target"
  fi  
}

cliredis() {
    redis-cli -h 127.0.0.1 -p 6379 -n 1 -a 123456
}
climy() {
  mycli -h 127.0.0.1 --port=33333 -u root --password=root -D trade
}
export_function cliredis
export_function climy

# 公共shell配置
export COMPOSE_FILE="$PWD/docker-compose.yml:$PWD/docker-compose.infra.yml"
export COMPOSE_PROJECT_NAME=pppoe
