[submodule "pppoe_component"]
	path = pppoe_component
	url = git@github.com:zeroleo12345/pppoe_component.git
	branch = master
[submodule "third_party/wpa_supplicant-2.5-ctm"]
	path = third_party/wpa_supplicant-2.5-ctm
	url = git@github.com:zeroleo12345/wpa_supplicant-2.5-ctm.git
	branch = master
