[submodule "pppoe_component"]
	path = pppoe_component
	url = git@github.com:zeroleo12345/pppoe_component.git
	branch = main
[submodule "third_party/hostapd-2.10"]
	path = third_party/hostapd-2.10
	url = git@github.com:zeroleo12345/hostapd-2.10.git
	branch = ctm_version
[submodule "third_party/wpa_supplicant-2.10"]
	path = third_party/wpa_supplicant-2.10
	url = git@github.com:zeroleo12345/wpa_supplicant-2.10.git
	branch = ctm_version
[submodule "third_party/freeradius-3.2.3"]
	path = third_party/freeradius-3.2.3
	url = git@github.com:zeroleo12345/freeradius-3.2.3.git
	branch = ctm_version
