[submodule "pppoe_component"]
	path = pppoe_component
	url = git@github.com:zeroleo12345/pppoe_component.git
	branch = master
[submodule "third_party/wpa_supplicant-2.5-ctm"]
	path = third_party/wpa_supplicant-2.5-ctm
	url = git@github.com:zeroleo12345/wpa_supplicant-2.5-ctm.git
	branch = ctm_version
    ignore = all
[submodule "third_party/freeradius-3.0.21-ctm"]
	path = third_party/freeradius-3.0.21-ctm
	url = git@github.com:zeroleo12345/freeradius-3.0.21-ctm
	branch = master
    ignore = all
[submodule "third_party/hostapd-2.5-ctm"]
	path = third_party/hostapd-2.5-ctm
	url = git@github.com:zeroleo12345/hostapd-2.5-ctm
	branch = ctm_version
    ignore = all
