version: '3.5'

services:
  auth:
    container_name: radius_auth
    build:
       context: .
       dockerfile: ./docker/radius/Dockerfile
    ports:      # 外部端口:docker内部端口
      - "1812:1812/udp"
      # - "1813:1813/udp"
    environment:
      ENTRYPOINT: "${ENTRYPOINT}"
    volumes:    # 挂载盘: - 主机路径:docker内部路径
      - .:/app     # 把主机下的src目录挂在到docker下, 实现边开发, 边调试
      - ./data:/data
    # entrypoint: sh      # 用于调试
    entrypoint: sh -c 'if [ -n "$ENTRYPOINT" ]; then echo "eval $ENTRYPOINT"; eval $ENTRYPOINT; else /app/bin/auth.sh; fi'
    tty: true
    restart: unless-stopped
    networks:
      - pppoe_system


  acct:
    container_name: radius_acct
    build:
       context: .
       dockerfile: ./docker/radius/Dockerfile
    ports:      # 外部端口:docker内部端口
      # - "1812:1812/udp"
      - "1813:1813/udp"
    volumes:    # 挂载盘: - 主机路径:docker内部路径
      - .:/app
      - ./data:/data
    # entrypoint: sh
    entrypoint: sh -c 'if [ -n "$ENTRYPOINT" ]; then echo "eval $ENTRYPOINT"; eval $ENTRYPOINT; else /app/bin/acct.sh; fi'
    tty: true
    restart: unless-stopped
    networks:
      - pppoe_system


networks:
  pppoe_system:
    name: pppoe_system_network_name
